/*
 * @Author: LiuLiXue QQ:136890965 
 * @Date: 2017-10-18 12:42:01 
 * @Last Modified by: LiuLiXue
 * @Last Modified time: 2017-10-18 12:48:14
 */
/**样式重置文件**/
body{
  line-height: 1;
}
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form{margin:0;}
ol,li,ul{
  margin:0;
  padding:0;
  list-style: none;
}
a{
  text-decoration: none;
}