/*
 * @Author: LiuLiXue QQ:136890965 
 * @Date: 2017-10-18 12:58:13 
 * @Last Modified by: LiuLiXue
 * @Last Modified time: 2017-10-19 16:00:42
 */
/**混合宏文件**/

//根据手机dpr设置字体
@mixin font-dpr($font-size) {
  font-size: $font-size;
  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }
  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }
}
//设置行高
@mixin line-height-dpr($font-size){
  line-height: $font-size;
  [data-dpr="2"] & {
    line-height: $font-size * 2;
  }
  [data-dpr="3"] & {
    line-height: $font-size * 3;
  }
}